[package]
name = "tools"
version = "0.1.0"
edition.workspace = true

[dependencies]
core = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
clap = { workspace = true }
anyhow = { workspace = true }
rand_chacha = { workspace = true }
